.link-logo {
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: $accent-color;
}

.logo-studio {
  color: $logo-black-color;
}

@media screen and (max-width: 767px) {
  .list-nav {
    display: none;
  }

  .menu-btn {
    &:hover .burger-icon,
    &:focus .burger-icon {
      fill: $accent-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .menu-btn,
  .mob-close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    display: inline-flex;

    width: 40px;
    height: 40px;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mob-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-150%);
    top: 0;
    background-color: $hero-title-color;

    padding: 48px 40px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateX(-50%);
    }
  }

  .mob-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    &:hover .mob-close-icon,
    &:focus .mob-close-icon {
      fill: $accent-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .header {
    border-bottom: 1px solid $header-border-color;
  }
  .nav-list,
  .contacts-list {
    display: none;
  }
  .mob-menu-list {
    display: inline-block;

    & li:not(:last-child) {
      padding-bottom: 32px;
    }
  }

  .mob-menu-link {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: $font-family;
    color: $working-title;
    font-size: 40px;
    line-height: 47px;

    &:hover,
    &:focus {
      color: $accent-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .mob-menu-contacts-item {
    display: inline-block;
  }

  .contact-link {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
    font-family: $font-family;
    display: block;
  }
  .contact-link-mail {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $text-color;
    font-family: $font-family;

    padding-top: 32px;
  }

  .social-mobile-menu-list {
    margin-top: 64px;
    display: flex;
    justify-content: flex-start;
  }

  .social-mobile-menu-link {
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $accent-color;

    &.add:after {
      content: "";
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  .mob-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    // align-content: space-between;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }
  .navigation {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-nav {
    display: flex;
    & > li:not(:last-child) {
      margin-right: 50px;
    }
  }

  .link {
    display: block;
    padding: 24px 0px;
  }

  .link-logo {
    margin-right: 60px;
  }

  .current {
    color: $accent-color;
  }

  .nav.link {
    color: $title-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .contact-link {
    letter-spacing: 0.02em;

    font-weight: 500;
    color: inherit;
    fill: currentColor;
    padding-bottom: 10px;

    &:hover,
    &:focus {
      color: $accent-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .icon-envelope {
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-link:hover &,
    .contact-link:focus & {
      fill: $accent-color;
    }
  }

  .icon-smartphone {
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-link:hover &,
    .contact-link:focus & {
      fill: $accent-color;
    }
  }

  .current-link-item {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $accent-color;
      border-radius: 2px;

      width: 100%;
      height: 4px;
    }
  }

  @media screen and (max-width: 1199px) {
    .contacts-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .link {
    display: block;
    padding: 32px 0px;
  }

  .contacts-list {
    & > li:not(:last-child) {
      margin-right: 50px;
    }

    display: flex;

    .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  .link-logo {
    margin-right: 93px;
  }
}
